<div class="row">
  <div class="card shadow  col-lg-4" style="margin:10px;">
    <div class="card-body">
      <span style="text-align: center">
        <h2>Search for flat using the address</h2>
      </span>
      <form style="min-width: 150px;max-width: 500px;width: 100%;">
        <mat-form-field class="example-full-width">
          <br />
          <input
            #inputField
            type="text"
            placeholder="Select the city name"
            aria-label="City"
            matInput
            [formControl]="cityCtrl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let city of citiesList | async"
              [value]="city.cityName"
              (onSelectionChange)="passCitytoAddr(city.cityId, city.cityName)"
            >
              {{ city.cityName }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="cityCtrl.hasError('forbiddenNames')">
            You should enter value from suggested one only.
            <strong>'{{ cityCtrl.errors.forbiddenNames.value }}'</strong> is not
            allowed.
          </mat-error>
        </mat-form-field>

        <!-- autocomplete street -->
        <mat-form-field class="example-full-width2" *ngIf="cityGetSuccess">
          <br />
          <input
            #inputField
            type="text"
            placeholder="Select the street"
            aria-label="Street"
            matInput
            [formControl]="streetCtrl"
            [matAutocomplete]="street"
            disabled="cityGetSuccess"
          />
          <mat-autocomplete #street="matAutocomplete">
            <mat-option
              *ngFor="let street of streetList | async"
              [value]="street"
              (onSelectionChange)="passStreetSelection(street)"
            >
              ul.{{ street }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- autocomplete end -->
        <!-- numeric inputs -->
        <form [formGroup]="form" (keyup.enter)="searchCertainFlat()">
        <div class="mb-3 form-group" *ngIf="cityGetSuccess">
          <label for="houseNumber">House number</label>
          <input
            type="text"
            id="houseNumber"
            class="form-control"
            formControlName="houseNumber"
            class="form-control"
          />
        </div>
        <div class="mb-3 form-group" *ngIf="cityGetSuccess">
          <label for="flatNumber">Flat number</label>
          <input
            type="text"
            id="flatNumber"
            class="form-control"
            formControlName="flatNumber"
            class="form-control"
          />
        </div>
      </form>
        <!-- end of test -->
        <div></div>
      <button mat-button
      cdkFocusInitial
      (click)="searchCertainFlat()"
      type="submit"
      [disabled]="disabledButton">Search</button>

      </form>
    </div>
  </div>
  <div class="card shadow col-lg-7" style="margin:10px;">
    <div class="card-body">
      <app-flat-list [flatDetails]="flatDetails"></app-flat-list>
    </div>
  </div>
</div>
