<div class="row">
  <div class="card shadow  col-lg-4" style="margin:10px;">
    <div class="card-body">
      <span style="text-align: center">
        <h2>Search for flat using the address</h2>
      </span>
      <form style="min-width: 150px;max-width: 500px;width: 100%;">
        <mat-form-field class="example-full-width">
          <br />
          <!-- autocomplete city -->
          <input
            #inputField
            type="text"
            placeholder="Select the city name"
            aria-label="City"
            matInput
            [formControl]="cityControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let city of citiesList | async"
              [value]="city.cityName"
              (onSelectionChange)="citySelection(city.cityId, city.cityName)"
            >
              {{ city.cityName }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="cityControl.hasError('forbiddenNames')">
            You should enter value from suggested one only.
            <strong>'{{ cityControl.errors.forbiddenNames.value }}'</strong> is
            not allowed.
          </mat-error>
        </mat-form-field>

        <div *ngIf="citySelected">
          <!-- autocomplete street -->
          <mat-form-field class="example-full-width2">
            <br />
            <input
              #inputField
              type="text"
              placeholder="Select the street"
              aria-label="Street"
              matInput
              [formControl]="streetControl"
              [matAutocomplete]="street"
              disabled="cityGetSuccess"
            />
            <mat-autocomplete #street="matAutocomplete">
              <mat-option
                *ngFor="let street of streetList | async"
                [value]="street"
                (onSelectionChange)="streetSelection(street)"
              >
                {{ street }} St.
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="streetControl.hasError('f.streetControl.errors')" class="invalid-feedback">
              You should enter value from suggested one only.
              <strong>'Gerara'</strong>
            </mat-error>
          </mat-form-field>
          <!-- numeric inputs -->
          <form [formGroup]="form">
            <div class="mb-3 form-group">
              <label for="houseNumber">House number</label>
              <input
                type="text"
                id="houseNumber"
                class="form-control"
                formControlName="houseNumber"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.houseNumber.errors }"
              />
              <div *ngIf="f.houseNumber.errors" class="invalid-feedback">
                <div *ngIf="f.houseNumber.errors.required">
                  Flat number is required.
                </div>
              </div>
            </div>

            <div class="mb-3 form-group">
              <label for="flatNumber">Flat number</label>
              <input
                type="text"
                id="flatNumber"
                class="form-control"
                formControlName="flatNumber"
                class="form-control"
                [ngClass]="{ 'is-invalid': f.flatNumber.errors }"
              />
              <div *ngIf="f.flatNumber.errors" class="invalid-feedback">
                <div *ngIf="f.flatNumber.errors.required">
                  Flat number is required.
                </div>
              </div>
            </div>
          </form>
        </div>

        <div></div>
        <button
          mat-button
          cdkFocusInitial
          (click)="searchForFlat()"
          type="submit"
          [disabled]="disabledButton"
        >
          Search
        </button>
      </form>
    </div>
  </div>
  <div class="card shadow col-lg-7" style="margin:10px;">
    <div class="card-body">
      <app-flat-list [flatDetails]="flatDetails"></app-flat-list>
    </div>
  </div>
</div>
