<div *ngIf="!isLoggex">
  <div style="float:right; position: fixed; width: 100%; height: 100%;margin-top: 15%; ">
    <div class="row" style="width:100%; height:100%; ">
      <div class=" col-lg-6">
        <div style="text-align: center; margin-top: 2%;">
          <span style="font-size: 60pt;font-weight: bolder;">
            <i class="material-icons" style="font-size: 40pt;">
              home
            </i>
            RoomMate Portal</span>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card-body">
          <div style="text-align:center;">
            <button class="btn btn-lg btn-dark" (click)="showLoginField()">
              Sign in
            </button>
          </div>
        </div>
        <div class="card-body">
          <div style="text-align:center;">
            <button class="btn btn-lg btn-dark" (click)="showRegisterField()">
              Register
            </button>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
