<div class="card shadow" style=" margin:10px">
  <div class="card-body">
    <span style="text-align: center">
      <h4>User Profile</h4>
    </span>
    <div class="mb-3">
      <button mat-stroked-button style="margin:10px;">Add avatar</button>
      <button mat-stroked-button style="margin:10px;">Change data</button>
      <button mat-stroked-button style="margin:10px;">Change password</button>
      <button mat-stroked-button style="margin:10px;" (click)="showInfoAboutRemovedAccount()">Removed Account</button>
    </div>
  </div>
</div>
