<div class="row">
  <span style="text-align: center">
    <h2>Flat details</h2>
  </span>

  <meta
     name='viewport'
     content='width=device-width, initial-scale=1.0, maximum-scale=2.0'
/>
<!-- not working  -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">City</th>
        <th scope="col">Street</th>
        <th scope="col">House number</th>
        <th scope="col">Flat number</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <th scope="row">1</th>
        <td>{{flatDetails.cityName}}</td>
        <td>{{flatDetails.street}}</td>
        <td>{{flatDetails.houseNumber}}</td>
        <td>{{flatDetails.flatNumber}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="flatDetails.cityId">
    <button
    (click)= "flatAdd()"
    type="submit">
     Add the flat!
    </button>
  </div>
  <div></div>
  <div *ngIf="flatDetails.users">
    Users in flat:
    <div *ngFor="let user of flatDetails.users; let isLast = last">
      <span *ngIf="!isLast" [innerHTML]="user.name + ' &nbsp;'"></span>
      <span *ngIf="isLast" [innerHTML]="user.name"></span>
    </div>
  </div>
</div>
