<div class="row">
  <span style="text-align: center">
    <h2>Flat details</h2>
  </span>

  <meta
     name='viewport'
     content='width=device-width, initial-scale=1.0, maximum-scale=2.0'
/>
<!-- not working  -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">City</th>
        <th scope="col">Street</th>
        <th scope="col">House number</th>
        <th scope="col">Flat number</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <th scope="row">1</th>
        <td>{{flatDetails.cityName}}</td>
        <td>{{flatDetails.street}}</td>
        <td>{{flatDetails.houseNumber}}</td>
        <td>{{flatDetails.flatNumber}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!flatDetails.addressId && flatDetails.cityId && !flatExtraDetails"  style="margin-left: 0%;">
    <form [formGroup] = "form">
      <div class="mb-3 form-group">
        <label for="flatName">Flat name</label>
        <input
          type="text"
          id="flatName"
          class="form-control"
          formControlName="flatName"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.flatName.errors }"
        />
        <div *ngIf="f.flatName.errors" class="invalid-feedback">
          <div *ngIf="f.flatName.errors.required">
            Flat name is required.
          </div>
        </div>
      </div>

      <div class="mb-3 form-group">
        <label for="area">Area m<sup>2</sup> </label>
        <input
          type="number"
          id="area"
          class="form-control"
          formControlName="area"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.area.errors }"
        />
        <div *ngIf="f.area.errors" class="invalid-feedback">
          <div *ngIf="f.area.errors.required">
           Area is required.
          </div>
        </div>
      </div>

      <div class="mb-3 form-group">
        <label for="roomCount">Room count</label>
        <input
          type="number"
          id="roomCount"
          class="form-control"
          formControlName="roomCount"
          class="form-control"
          [ngClass]="{ 'is-invalid': f.flatName.errors }"
        />
        <div *ngIf="f.roomCount.errors" class="invalid-feedback">
          <div *ngIf="f.roomCount.errors.required">
            Room count is required.
          </div>
        </div>
      </div>
      <button class="flatAdd"
    style="margin-left: 0%;"
    (click)= "!form.valid || addTheFlat()"
    type="submit">
     Add the flat!
    </button>
    </form>
  </div>

  <div *ngIf="flatDetails.id && !joinedFlat && !userExistInList" style="margin-left: 90%;">
    <button class = "joinTheFlat"
    (click)= "joinTheFlat()"
    type="submit">
     Join the flat!
    </button>
  </div>
  <div *ngIf="userExistInList" style="margin-left: 90%;">
    <button class = "leaveTheFlat"
    (click)= "leaveTheFlat()"
    type="submit">
     Leave the flat!
    </button>
  </div>
  <div *ngIf="flatDetails.users" style=" margin-left: 5%">
    Users in flat:
    <div *ngFor="let user of flatDetails.users; let isLast = last">
      <span *ngIf="!isLast" [innerHTML]="user.name + ' &nbsp;'"></span>
      <span *ngIf="isLast" [innerHTML]="user.name"></span>
    </div>
  </div>
</div>
