<div mat-dialog-content>
  <div class="mb-3" *ngIf="errorShow">
    <div class="alert alert-danger" role="alert">
      <strong>Error!</strong> There is an error during the save.
    </div>
  </div>

  <!-- Here theres add html -->

  <div *ngIf="!houseworkDto.id">
    <h1 mat-dialog-title>Add a new action</h1>
    <div class="mb-3">
      <label for="workType">Typ akcji</label>
      <select
        class="form-control"
        id="workType"
        [(ngModel)]="houseworkDto.workType"
        (ngModelChange)="onSelectedOption()"
      >
        <option value="0">-</option>
        <option value="1">Sprzątanie</option>
        <option value="2">Zakupy</option>
      </select>
    </div>

    <div *ngIf="houseworkDto.workType != 0">
      <div class="mb-3">
        <label for="houseworkDate">Kiedy</label>
        <input
          type="date"
          id="houseworkDate"
          class="form-control"
          [ngModel]="houseworkDto.houseWorkDate | date: 'yyyy-MM-dd'"
          (ngModelChange)="houseworkDto.houseWorkDate = $event"
        />
      </div>
      <div class="mb-3">
        <label for="description">Opis</label>
        <input
          type="text"
          id="description"
          class="form-control"
          required
          minlength="2"
          [(ngModel)]="houseworkDto.description"
          #description="ngModel"
          (change)="checkFormErrors(description?.valid, prices?.valid)"
        />
        <div
          *ngIf="
            description.invalid && (description.dirty || description.touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="description.errors.required">
            Description is required.
          </div>
          <div *ngIf="description.errors.minlength">
            Description must be at least 2 characters long
          </div>
        </div>
      </div>

      <div class="mb-3" *ngIf="houseworkDto.workType == 2">
        <label for="prices">Koszty</label>
        <input
          type="number"
          id="prices"
          class="form-control"
          [(ngModel)]="houseworkDto.prices"
          #prices="ngModel"
          required
          [min]="0"
          (change)="checkFormErrors(description?.valid, prices?.valid)"
        />

        <div
          *ngIf="prices.invalid && (prices.dirty || prices.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="prices.errors.required">
            Price is required.
          </div>
          <div *ngIf="prices.errors?.min">
            Price must be greater than 0
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Here theres edit html  -->

  <div *ngIf="editActionOn">
    <h1 mat-dialog-title>Edit the element</h1>

    <div class="mb-3">
      <label for="houseworkDate">Kiedy</label>
      <input
        type="date"
        id="houseworkDate"
        class="form-control"
        [ngModel]="houseworkDto.houseWorkDate | date: 'yyyy-MM-dd'"
        (ngModelChange)="houseworkDto.houseWorkDate = $event"
      />
    </div>

    <div class="mb-3">
      <label for="description">Opis</label>
      <input
        type="text"
        id="description"
        class="form-control"
        required
        minlength="2"
        [(ngModel)]="houseworkDto.description"
        #description="ngModel"
        (change)="checkFormErrors(description?.valid, prices?.valid)"
      />
      <div
        *ngIf="
          description.invalid && (description.dirty || description.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="description.errors.required">
          Description is required.
        </div>
        <div *ngIf="description.errors.minlength">
          Description must be at least 2 characters long
        </div>
      </div>
    </div>

    <div class="mb-3" *ngIf="houseworkDto.workType == 2">
      <label for="prices">Koszty</label>
      <input
        type="number"
        id="prices"
        class="form-control"
        [(ngModel)]="houseworkDto.prices"
        #prices="ngModel"
        required
        [min]="0"
        (change)="checkFormErrors(description?.valid, prices?.valid)"
      />

      <div
        *ngIf="prices.invalid && (prices.dirty || prices.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="prices.errors.required">
          Price is required.
        </div>
        <div *ngIf="prices.errors?.min">
          Price must be greater than 0
        </div>
      </div>
    </div>
  </div>

  <div mat-dialog-actions style="float: right;">
    <button mat-button (click)="closeModal()">Cancel</button>
    <button
      mat-button
      cdkFocusInitial
      [disabled]="houseworkDto.workType == 0 || disableButton"
      (click)="addHousework()"
    >
      Save
    </button>
  </div>
</div>
