<h2 style="text-align: center;">List of users in flat</h2>
<table
  class="table table-hover table-responsive-lg"
  *ngIf="userList; else spinner"
>
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Login</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.surname }}</td>
      <td>{{ user.login }}</td>
    </tr>
  </tbody>
</table>

<ng-template #spinner>
  <mat-spinner
    style="margin-left: auto; margin-right: auto; margin-top: 30%;"
  ></mat-spinner>
</ng-template>

<span
style="position: absolute; bottom: 5%; left: 10%;"
*ngIf="userList"> Count of users: {{ userList.length }} </span
  >
